body {
    font-family: 'Roboto', sans-serif; /* Gebruik Roboto als standaard lettertype voor de hele website */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif; /* Gebruik Merriweather voor koppen */
}

.contact-form label {
    font-family: 'Merriweather', serif;
}

.contact-form input, .contact-form select, .contact-form textarea, .contact-form button {
    font-family: 'Roboto', sans-serif;
}
